
.min {
    padding-left: 0px;
    margin-bottom: -1.25em; 
}


.add-protocol  {
    /* padding-left: 0px; */
    display: flex;
    justify-content: space-around;
}


.card-footer {
    display: flex;
    justify-content: flex-end;
    border: none;
}





.close-card-btn {
    background-color:transparent;
    color: rgb(105, 105, 105) !important;
    border: none;
}

