<div class="header d-flex justify-content-between">
    <p class="p-3">Filtrar Usuários</p> 

    <button (click)="close()" class="header-dropdown btn btn-light close-card-btn">
        <i class="bi bi-x"></i>
    </button>

</div>
  
  <div class="card-body row m-0">
    <div class="col-xl-6 mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nome:</mat-label>
        <input matInput type="text" id="full_name" name="full_name">
      </mat-form-field>
    </div>
  
    <div class="col-xl-6 mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email:</mat-label>
        <input matInput type="email" id="email" name="email">
      </mat-form-field>
    </div>
  
    <div class="col-xl-6 mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Rua:</mat-label>
        <input matInput type="text" id="street" name="street">
      </mat-form-field>
    </div>
  
    <div class="col-xl-6 mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Bairro:</mat-label>
        <input matInput type="text" id="district" name="district">
      </mat-form-field>
    </div>
  
    <div class="col-xl-6 mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>CEP:</mat-label>
        <input matInput type="number" id="zip_code" name="zip_code">
      </mat-form-field>
    </div>
  
    <div class="col-xl-6 mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Referência:</mat-label>
        <input matInput type="text" id="description" name="description">
      </mat-form-field>
    </div>
  
    <div class="col-xl-6 mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Telefone:</mat-label>
        <input matInput type="number" id="phone" name="phone">
      </mat-form-field>
    </div>
  </div>
  
  <div class="card-footer p-3">
    <button mat-raised-button color="primary" (click)="filter()">Filtrar</button>
  </div>
  