  <div class="modal-header">
    <h4 class="modal-title pull-left">Novo Cliente</h4>
    <button type="button" class="close pull-right btn" aria-label="Close" (click)="modalRef?.hide()">
    </button>
  </div>
  <div *ngIf="formValid" class="alert alert-danger" role="alert">
    Por favor preencher todos os campos.
  </div>
  <div class="modal-body">
    <div class="form-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form_container">

      <div class="form-group mt-3">
        <input type="text" name="full_name" id="full_name" formControlName="full_name" class="form-control"
          placeholder="Nome" required>
      </div>
      <div class="form-group mt-3">
        <input type="email" name="email" id="email" formControlName="email" class="form-control" placeholder="Email"
          required>
      </div>
      <div class="form-group mt-3">
        <input type="number" name="zip_code" id="zip_code" formControlName="zip_code"   [ngModel]="zip_code" (ngModelChange)="findZipCode($event)" class="form-control" placeholder="Cep" required>
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="phone" formControlName="phone" id="phone" [ngModel]="phone" required placeholder="Telefone" mask="(00)0 0000-0000">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="district" formControlName="district" id="district" [ngModel]="district" required placeholder="Bairro">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="street" formControlName="street" id="street" [ngModel]="street" required placeholder="Rua">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="locality" formControlName="locality" id="locality" [ngModel]="locality" required placeholder="Localidade">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="description" id="description" formControlName="description"
          required placeholder="Descição">
      </div>

        <input type="submit" class="btn btn-dark mt-2" value="Register" [disabled]="!form.valid">
    </form>
  </div>

  </div>
