<button class="btn_logout" (click)="logout()">Logout</button>
<div class="container">
  <div class="input_group ">
    <div class="new_user">
      <Button type="button" class="btn" (click)="openModal(template)"><i class="bi bi-plus"> Novo Usuário</i></Button>
    </div>
    <!-- <input type="search" class="form-control" placeholder="Search">-->
  </div>
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Bairro</th>
          <th class="text-center">Rua</th>
          <th class="text-center">Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-click" *ngFor="let item of list" routerLink="/client/{{item.id}}">
          <td class="text-center">{{item.full_name}}</td>
          <td class="text-center">{{item.district}}</td>
          <td class="text-center">{{item.street}}</td>
          <td class="text-center">{{item.phone}}</td>
      </tbody>
    </table>
  </div>

  <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Novo Cliente</h4>
        <button type="button" class="close pull-right btn" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cepForm" (ngSubmit)="onSubmit()" class="form_container">
          <div class="form-group">
            <input type="text" name="email" id="email" formControlName="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="text" name="full_name" id="full_name" formControlName="full_name" class="form-control" placeholder="Nome" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="phone" id="phone" formControlName="phone" required placeholder="Telefone">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="district" id="district" formControlName="district" required placeholder="Bairro">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="street" id="street" formControlName="street" required placeholder="Rua">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="description" id="description" formControlName="description"  required placeholder="Descição">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="locality" id="locality" formControlName="locality"  required placeholder="UF">
          </div>

          <div class="modal-footer">
            <input type="submit" routerLink="/dashboard"  class="btn-success"  value="Register" (click)="modalRef?.hide()">
          </div>
        </form>
      </div>
  </ng-template>



</div>
